.one{
  text-align:center ;
  font-size: 2rem;
  background-color: aqua;
  color: black;
  padding: 2rem;
  text-transform: uppercase;
}

.two{
  text-align:center ;
  font-size: 2rem;
  background-color:red;
  color:white;
  padding: 2rem;
  text-transform: uppercase;
}






